:root {
  /* update with @media (min-width: 700px) */
  --mw-grid: 375px;
  --cool-black: #1c1c1c;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background-color: var(--cool-black);
  color: var(--cool-black);
  cursor: default;
}

.touch-action-manipulation {
  touch-action: manipulation;
}

.sticky {
  position: sticky;
}

.cool-black {
  color: var(--cool-black);
}

.bg-cool-black {
  background-color: var(--cool-black);
}

.outline-none-focus:focus {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns:
    minmax(min-content, 1fr)
    minmax(50%, var(--mw-grid));
}

.mw-grid {
  max-width: var(--mw-grid);
}

.lh-static {
  line-height: 1.15rem;
}

.ti4 {
  text-indent: 2em;
}

.aspect-ratio-bernie {
  position: relative;
}

.aspect-ratio-bernie::after {
  content: "";
  display: block;
  padding-bottom: 124.8%; /* 936px / 768px */
}

.mw-bernie {
  max-width: 310px;
}

.mix-blend-mode-diff {
  mix-blend-mode: difference;
}

.details-reset summary:focus {
  outline: none;
}

.details-reset > summary::-webkit-details-marker {
  display: none;
}

.ph-gutter {
  padding-left: var(--gutter-width);
  padding-right: var(--gutter-width);
}

.break-word {
  overflow-wrap: break-word;
}

details[open] .open-bg-white {
  background-color: white;
}

details[open] .open-cool-black {
  color: var(--cool-black);
}

details[open] .open-b--white {
  border-color: white;
}

.left-dotted-line {
  left: max(0.001px, calc(50% - var(--mw-grid)));
}

/* update with --mw-grid */
@media (max-width: 749px) {
  :root {
    font-size: 16px;
    --gutter-width: 8px;
  }
}

@media (min-width: 750px) {
  :root {
    font-size: 20px;
    --gutter-width: 12px;
  }
}
