:root {
  --cool-red: #eb2128;

  font-family: "StyreneB", -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background-color: white;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
}

.mw-app {
  max-width: 680px;
}

@font-face {
  font-family: "StyreneB";
  font-style: normal;
  font-weight: 400;
  src: url("/StyreneB-Regular.woff2") format("woff2"),
    url("/StyreneB-Regular.woff") format("woff");
}

@font-face {
  font-family: "StyreneB";
  font-style: normal;
  font-weight: 700;
  src: url("/StyreneB-Bold.woff2") format("woff2"),
    url("/StyreneB-Bold.woff") format("woff");
}

.using-pointer *:focus {
  outline: none;
}

.ph-app {
  padding-left: 16px;
  padding-right: 16px;
}

.cool-red {
  color: var(--cool-red);
}

.translate-x--100 {
  transform: translateX(-100%);
}

.mw-header-copy {
  max-width: 360px;
}

.dotted-border {
  background-image: linear-gradient(
    to right,
    black 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: top;
  background-size: 2.5px 1px;
  background-repeat: repeat-x;
  height: 1px;
  position: absolute;
  width: 100%;
}

.sticky {
  position: sticky;
}

.grid {
  display: grid;
  gap: 1rem 0.7rem;
  grid-template-columns:
    minmax(min-content, 1fr)
    minmax(50%, 472px);
}

@media screen and (min-width: 30em) {
  .mt-grid-ns {
    margin-top: 3rem;
  }
}

.lh-static {
  line-height: 1.15rem;
}

.details-reset > summary::-webkit-details-marker {
  display: none;
}

.break-word {
  overflow-wrap: break-word;
}

details[open] .details-open--cool-red {
  color: var(--cool-red);
}

details[open] .details-open--white {
  color: white;
}

details[open] .details-open--underline {
  text-decoration: underline;
}

@media not all and (hover: none) {
  .underline-pointer-hover:hover {
    text-decoration: underline;
  }
}
